#Dynarec
unset BOX64_DYNAREC_ALIGNED_ATOMICS
unset BOX64_DYNAREC_BIGBLOCK
unset BOX64_DYNAREC_CALLRET
unset BOX64_DYNAREC_BIGBLOCK
unset BOX64_DYNAREC_FASTNAN
unset BOX64_DYNAREC_FASTROUDN
unset BOX64_DYNAREC_IGNOREINT3
unset BOX64_DYNAREC_SAFEFLAGS
unset BOX64_DYNAREC_STRONGMEM
unset BOX64_DYNAREC_WAIT
unset BOX64_DYNAREC_X87DOUBLE
#

