#Dynarec
export BOX64_DYNAREC_ALIGNED_ATOMICS=1
export BOX64_DYNAREC_BIGBLOCK=1
export BOX64_DYNAREC_CALLRET=1
export BOX64_DYNAREC_BIGBLOCK=1
export BOX64_DYNAREC_FASTNAN=1
export BOX64_DYNAREC_FASTROUDN=1
export BOX64_DYNAREC_IGNOREINT3=1
export BOX64_DYNAREC_SAFEFLAGS=1
export BOX64_DYNAREC_STRONGMEM=1
export BOX64_DYNAREC_WAIT=1
export BOX64_DYNAREC_X87DOUBLE=1
#
